<!-- 
*
* @Title: Index.html
*
* @Author: Ty, Declan, Jack, Mphatso 
*
* @Date: 2021-02-09
*
*-->

<!DOCTYPE html>
<html>
  <head>
    
    
<!-- Site Title -->
    <title>Comp 225 Project</title>
    
<!-- Site Description -->
    <meta name="description" content="A cool thing made ">
    
<!-- Site Favicon -->
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    
<!-- Site Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- Site CSS -->
    <link rel="stylesheet" href="/public/style.css">
  
<!-- Css To Use During Development of Prototype. Transfer Everything to main css when ready -->
    <link rel="stylesheet" href="/public/navigation.css">
    <link rel="stylesheet" href="/public/search.css">
    <link rel="stylesheet" href="/public/general.css">


    
  </head>
  
  <body>
    <div id="navbar">
    <ul>
<!--       <h2 style="float:left" id="title">App Title</h2> -->
      <li><a href="#Logout">Logout</a></li>
      <li><a href="#contact">Your Teams</a></li>
      <li><a href="#feed">Feed</a></li>
  <li class="active"><a href="#general">General Search</a></li>
    </ul>
    </div>

    
    <div id="main">
    <div id="search" class="card">
      <h2>General Search</h2>
      <p>If You're Looking for a particular team, you can find the latest news and trending articles here.</p>
      
      <form>
        <input id="searchBar" type="text" maxlength="100" placeholder="Sports News For Your Team!">
        <button type="submit" class="button">Submit</button>
      </form>

    </div>
          <section class="news">
        <ul id="news">
        </ul>
      </section>
      
      </div>


<!-- Site Scripts -->
<!-- Your web-app is https, so your scripts need to be too -->
<!--     <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
     -->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    
    <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    
    <script src="/public/client.js"></script>

  </body>
</html>
