<!-- 
*
* @Title: index.html
*
* @Author: Ty, Declan, Jack, Mphatso 
*
* @Date: 2021-02-09
*
*-->

<!DOCTYPE html>
<html>
  
  <!-------------------------------------------------------->
  <!-- Head -->
  <!-------------------------------------------------------->
  
  <head>
    <!-- Site Title -->
    <title>Tympdeja</title>

    <!-- Site Description -->
    <meta name="description" content="A cool thing made " />

    <!-- Site Favicon -->
    <link
      id="favicon"
      rel="icon"
      href="https://gomix.com/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- Site Meta Data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Page Pilling CSS -->
    <link rel="stylesheet" href="../public/css/jquery.pagepiling.css" />
  
    <!-- Site CSS -->
    <link rel="stylesheet" href="../public/css/style.css" />

  </head>

  <!-------------------------------------------------------->
  <!-- Main Body -->
  <!-------------------------------------------------------->
  
  <body >

    <div id="load">
      <div class="loader">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>
    </div>

<div>
<div id="first" class="section instoSection">

  <div>
  </div>

  <div>
  </div>

  <div>
    <img src="https://cdn.glitch.com/34525fe5-c55a-46a2-ade0-7fd82e149df2%2FScreenshot_20210228-122832_iphone12black_portrait.png?v=1614539793819" width="300px">
  </div>

  <div>

    <h2> App Shortcut</h2>
    <p>Thank you for choosing Tympdeja for your sports news coverage</p>
    <p>First, bookmark this page and on mobile, add an app shortcut to quickly get to your feed </p>
    <ul>
      <li>Launch “Chrome” app.</li>
      <li>Open the website or web page you want to pin to your home screen.</li>
      <li>Tap the menu icon (3 dots in upper right-hand corner) and tap Add to homescreen.</li>
    </ul>

    <button onclick="hideWelcomeScreen()" data-menuanchor="select">
      <a href="#select">Select Teams</a>
    </button>

  </div>

  
</div>
</div>

  <!--  JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!--  Pagepilling Javascript -->
  <script type="text/javascript" src="../public/js/jquery.pagepiling.min.js"></script>

  <!--  Firebase Login Script -->
  <script src="../public/js/intro.js"></script>

  </body>
</html>
