/**
*
* @Title: Main CSS
*
* @Author: Ty, Declan, Jack, Mphatso 
*
* @Date: 2021-02-09
*
* @Brief: Final Main File where we will put the rest of the css
*
*/

/*//////////////////////////////////////////////////////////////

   _____ _ _          _____  _____ _____ 
  / ____(_) |        / ____|/ ____/ ____|
 | (___  _| |_ ___  | |    | (___| (___  
  \___ \| | __/ _ \ | |     \___ \\___ \ 
  ____) | | ||  __/ | |____ ____) |___) |
 |_____/|_|\__\___|  \_____|_____/_____/ 
                                         
                                         
//////////////////////////////////////////////////////////////*/

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

body {
  font-family: helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #003153;
  transition: 0.5s;
  background: #f3f3f3;
}

a {
  text-decoration: none;
  color: #003153;
}

button a {
  color:white;
}

button a:hover, button:hover a  {
  color:black;
}

.pointerItem {
  cursor: pointer;
}

#colorPalette {
  color: #003153;
  color: #000;
  color: #777;
  color: #fff;
  color: #f3f3f3;
  color: #333;
}

/*////////////////////////////////////////////////////////////////

  _____                 _____ _ _ _ _             
 |  __ \               |  __ (_) | (_)            
 | |__) |_ _  __ _  ___| |__) || | |_ _ __   __ _ 
 |  ___/ _` |/ _` |/ _ \  ___/ | | | | '_ \ / _` |
 | |  | (_| | (_| |  __/ |   | | | | | | | | (_| |
 |_|   \__,_|\__, |\___|_|   |_|_|_|_|_| |_|\__, |
              __/ |                          __/ |
             |___/                          |___/ 

///////////////////////////////////////////////////////////////////*/

.pp-section {
  padding: 50px 0px 50px 0px;
  display: grid;
  vertical-align: top; /* new */
  grid-template-columns: auto;
  grid-gap: 5px;
}

.pp-section > div {
  width: 80%;
}

/* For Mobile: */

@media only screen and (max-width: 768px) {
}

/*//////////////////////////////////////////////////////////////
   _____           _   _                  
  / ____|         | | (_)                 
 | (___   ___  ___| |_ _  ___  _ __  ___  
  \___ \ / _ \/ __| __| |/ _ \| '_ \/ __| 
  ____) |  __/ (__| |_| | (_) | | | \__ \ 
 |_____/ \___|\___|\__|_|\___/|_| |_|___/ 
                                                                                 

//////////////////////////////////////////////////////////////*/

.card:not(.tabDescription) {
  cursor: pointer;
}

.tabDescription {
  position:relative;
  color: #1d3557;
  margin: auto;
  background-color: #fff;
  padding: 30px 0px 30px 0px;
  border: 1px solid black;
}

.tabDescription * {
  margin-left: 5%;
}

.tabContent {
  list-style-type: none;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  margin-top: 0px;
}

.back {
  position: absolute;
  left: 0px;
  top: -45px;
  padding: 10px;
  font-variant: small-caps;
  background: #f9c74f;
  text-align: center;
  width: 100px;
}

/* For Mobile: */

@media only screen and (max-width: 768px) {
}

/*//////////////////////////////////////////////////////////////
  __  __                  
 |  \/  |                 
 | \  / | ___ _ __  _   _ 
 | |\/| |/ _ \ '_ \| | | |
 | |  | |  __/ | | | |_| |
 |_|  |_|\___|_| |_|\__,_|
                                                
//////////////////////////////////////////////////////////////*/

#navbar {
  position: fixed;
  bottom: 100%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
  background: #fff;
  opacity: 1;
}

#navbar ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0px 30px 30px 30px;
  width: 60%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 350%;
  text-align: center;
  opacity: 1;
  font-variant: small-caps;
}

#navbar li a {
  display: block;
  color: #777;
  margin: 3% 0 3% 0;
  text-decoration: none;
  transition: 0.1s;
  font-weight: bold;
  padding: 20px;
  border-radius: 2px;
}

#navbar li a:hover {
  color: #000;
  border: 1px solid black;
  border-right: 20px solid black;
}

#navbar ul .active a {
  color: #000;
  border: 1px solid black;
  border-right: 20px solid black !important;
}

.menuButton {
  position:absolute;
  top:0;
  right:0;
  margin:20px;
  font-size: 300%;
  cursor: pointer;
  color: #000;
  transition: 1s;
  z-index: 50;
}

/* For Mobile: */

@media only screen and (max-width: 768px) {
  #navbar ul {
    padding: 0px 0px 0px 10px;
    font-size: 250%;
    text-align: center;
  }

  #navbar ul li a {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    margin: 10% 0 10% 0;
  }

  #navbar ul .active a {
    color: #000;
    border: 1px solid black;
    border-bottom: 1px solid black !important;
    border-right: 20px solid black !important;
  }


}

/*//////////////////////////////////////////////////////////////
  ______                       
 |  ____|                      
 | |__ ___  _ __ _ __ ___  ___ 
 |  __/ _ \| '__| '_ ` _ \/ __|
 | | | (_) | |  | | | | | \__ \
 |_|  \___/|_|  |_| |_| |_|___/
                               
                               
//////////////////////////////////////////////////////////////*/

input {
  background: none;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 2px solid #000;
  /* border-radius: 5px; */
  margin: 5px;
  position: relative;
  transition: 0.1s;
}

#filterSearch,
#searchBar {
  border-radius: 0px;
}

input:focus,
input:hover {
  border: none;
  border: 2px solid #eee;
}

button {
  background-color: #003153;
  border: 1px solid black;
  border-radius: 0px;
  color: white;
  padding: 12px 10px 12px 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.1s;
}

button:hover {
  background-color: #ddd;
  color:black;
  border:1px solid black;
}

#searchBar {
  margin-left: 0px !important;
}
/*//////////////////////////////////////////////////////////////

  _   _                   
 | \ | |                  
 |  \| | _____      _____ 
 | . ` |/ _ \ \ /\ / / __|
 | |\  |  __/\ V  V /\__ \
 |_| \_|\___| \_/\_/ |___/
                          
                          
//////////////////////////////////////////////////////////////*/

.newsItem {
  height: 250px;
  border-radius: 0px;
  background: #fff;
  border: 1px solid black;
  transition: 0.05s;
  overflow: hidden;
  transform: translateX(0px);
  
}

.newsItem:hover {
  background: #003153;
  color: white;
  border: 1px solid white;
  
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

.newsItem img:not(.teamImage) {
  width: 210px;
  margin: 0px;
  padding: 0px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.teamImage {
  height: 50px !important;
  padding: 5px;
  float: right;
}

.articleWords {
  position: absolute;
  padding: 20px 50px 10px 50px;
  left: 200px;
  bottom: 10px;
}

/* For Mobile */

@media only screen and (max-width: 768px) {
  .newsItem {
    width: 100%;
    height: 500px;
    transform: translateX(0px);
    border-bottom: 20px black solid;
  }

  .newsItem img:not(.teamImage) {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .articleWords {
    position: absolute;
    padding: 0px;
    bottom: 0px;
    left: 0px;
    background: white;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .articleWords p {
    display: none;
  }

  .articleWords h4 {
    /* position:absolute;
  left:100px; */
    width: 70%;
    padding-left: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .teamImage {
    /* position:absolute;
  left:20px; */
    height: 50px !important;
    padding-top: 20px;
    padding-right: 10px;
  }
}
/*//////////////////////////////////////////////////////////////

  _______                     _____ _      _             
 |__   __|                   |  __ (_)    | |            
    | | ___  __ _ _ __ ___   | |__) |  ___| | _____ _ __ 
    | |/ _ \/ _` | '_ ` _ \  |  ___/ |/ __| |/ / _ \ '__|
    | |  __/ (_| | | | | | | | |   | | (__|   <  __/ |   
    |_|\___|\__,_|_| |_| |_| |_|   |_|\___|_|\_\___|_|   
                                                                                                               

//////////////////////////////////////////////////////////////*/

.selectGrid div, #resetTeams{
  cursor: pointer;
}

.selectGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.selectGrid div {
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  transition: 0.1s;
  /* vertical-align: center; */
}

.selectGrid div:hover {
  background: 50px #003153;
  color: white;
}

.selectGrid div h4 {
  float: left;
  font-size: 150%;
  vertical-align: center;
  margin-right:10px;
  margin-left:10px;
}


.selectGrid div img {
  height: 80%;
  float: right;
  vertical-align: center;
}

.tablinks{
  background:white;
  color:black;
  border-radius:0px;
  margin:5px;
}


/* #resetTeams{
  padding:10px;
  background:white;
  border: 1px solid black;
  margin:5px 5% 5px 5px;
  width:10px;
  float:right;
} */

#resetTeams {
  display:none;
  position: relative;
  padding: 10px 0px 10px 10px;
  background: white;
  border: 1px solid black;
  float: left;
  width: 5%;
  margin-left: 10%;
}

#resetTeams:hover{
  background:#003153;
  color:white;
}

/* For Mobile */

@media only screen and (max-width: 768px) {
  .selectGrid {
    grid-template-columns: auto;
  }

  .selectGrid div h4 {
    float: left;
    font-size: 100%;
    margin-top: 15%;
  }

  .selectGrid div img {
    height: 80%;
    float: right;
  }
}

/*//////////////////////////////////////////////////////////////
  _                 _                  _____ _                         
 | |               (_)          _     / ____(_)                        
 | |     ___   __ _ _ _ __    _| |_  | (___  _  __ _ _ __  _   _ _ __  
 | |    / _ \ / _` | | '_ \  |_   _|  \___ \| |/ _` | '_ \| | | | '_ \ 
 | |___| (_) | (_| | | | | |   |_|    ____) | | (_| | | | | |_| | |_) |
 |______\___/ \__, |_|_| |_|         |_____/|_|\__, |_| |_|\__,_| .__/ 
               __/ |                            __/ |           | |    
              |___/                            |___/            |_|    

//////////////////////////////////////////////////////////////*/

#login {
  position: absolute;
  z-index: 200;
  height: 100%;
  width: 100%;
  transition: 1.5s;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: white;
}

#login h2 {
  margin-left: 10px;
}

.loginCover {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  transition: 0.2s;
  border-left: 50px black solid;
  display: none;
}

.loginCover div {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.loginCover div h1 {
  font-size: 350%;
  font-variant: small-caps;
}

.loginCover div h6 {
  font-size: 100%;
  font-variant: small-caps;
}

.loginCover div p {
  font-size: 90%;
  width: 70%;
}


.loginForm {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  width: 300px;
  text-align: center;
}

#welcomeScreen{
  display:none;
  position:absolute;
  top:0%;
  width:100%;
  height:100%;
  background:white;
  z-index:51;
  grid-template-columns: auto auto auto auto;
  transition: 0.5s;
}

#welcomeScreen div:first-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
}

#welcomeScreen div{
  vertical-align: center;
  margin:auto;
  width:80%;
}

#welcome div img{
  width:60%;
}

#welcome button{
  vertical-align:center;
}

/* For Mobile: */

@media only screen and (max-width: 768px) {
  .loginCover {
    display: none;
  }
  #login {
    width: 100%;
    height: 100%;
  }

  .loginForm {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  #welcomeScreen{
    grid-template-columns: auto;
    padding:50px 10px 10px 10px;
    font-size:15px;
    overflow-y:scroll;
  }

  #welcomeScreen div{
    width:80%;
  }
}

/*////////////////////////////////////////////////////////////////////////

  _                     _ _                _____                          
 | |                   | (_)              / ____|                         
 | |     ___   __ _  __| |_ _ __   __ _  | (___   ___ _ __ ___  ___ _ __  
 | |    / _ \ / _` |/ _` | | '_ \ / _` |  \___ \ / __| '__/ _ \/ _ \ '_ \ 
 | |___| (_) | (_| | (_| | | | | | (_| |  ____) | (__| | |  __/  __/ | | |
 |______\___/ \__,_|\__,_|_|_| |_|\__, | |_____/ \___|_|  \___|\___|_| |_|
                                   __/ |                                  
                                  |___/                                   

/////////////////////////////////////////////////////////////////////////*/

#load {
  background: #003153;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: disappear 5.8s forwards;
  animation: disappear 5.8s forwards;
  z-index: 300; /* AHHHHHHHH Its not over 9000! */
  opacity: 1;
  -webkit-opacity: 1;
  display: block;
  text-align: center;
}

/* Safari */
@-webkit-keyframes disappear {
  0% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  50% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  90% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: -199%;
    z-index: 300;
    display: block;
  }
  99.999% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: -200%;
    z-index: 300;
    display: none;
  }
  100% {
    -webkit-opacity: 0;
    height: 100%;
    bottom: -200%;
    z-index: -10;
    display: none;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  50% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  90% {
    opacity: 1;
    height: 100%;
    bottom: -199%;
    z-index: 300;
    display: block;
  }
  99.999% {
    opacity: 1;
    height: 100%;
    bottom: -200%;
    z-index: 300;
    display: block;
  }
  100% {
    opacity: 0;
    height: 100%;
    bottom: -200%;
    z-index: -10;
    display: none;
  }
}

/* Code From w3schools */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}


.lds-facebook {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/*////////////////////////////////////////////////////////////////////////

  _____       _               _____                 
 |_   _|     | |             |  __ \                
   | |  _ __ | |_ _ __ ___   | |__) |_ _  __ _  ___ 
   | | | '_ \| __| '__/ _ \  |  ___/ _` |/ _` |/ _ \
  _| |_| | | | |_| | | (_) | | |  | (_| | (_| |  __/
 |_____|_| |_|\__|_|  \___/  |_|   \__,_|\__, |\___|
                                          __/ |     
                                         |___/      

/////////////////////////////////////////////////////////////////////////*/

#first{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  transition: 0.5s;
}

#welcomeScreen div{
  vertical-align: center;
}

.instoSection{

}