/**
*
* @Title: Main CSS
*
* @Author: Ty, Declan, Jack, Mphatso 
*
* @Date: 2021-02-09
*
* @Brief: Final Main File where we will put the rest of the css
*
*/

/*//////////////////////////////////////////////////////////////

   _____ _ _          _____  _____ _____ 
  / ____(_) |        / ____|/ ____/ ____|
 | (___  _| |_ ___  | |    | (___| (___  
  \___ \| | __/ _ \ | |     \___ \\___ \ 
  ____) | | ||  __/ | |____ ____) |___) |
 |_____/|_|\__\___|  \_____|_____/_____/ 
                                         
                                         
//////////////////////////////////////////////////////////////*/

/* General CSS for main elements */



@import url('https://fonts.googleapis.com/css?family=Roboto');

/* 
* Define a color palette near the start of the file
*
* This takes advantage of VS code's auto complete feature
* To quickly fill in colors in CSS below the colorPalette
* declaration
*
**/
#colorPalette {
  color: #000;
  color: #777;
  color: #fff;
  color: #EDECF2;
  color: #333;
  color: #DF0810;
  color: #54b6fd;
}

body {
  font-family: Roboto,sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  background: #EDECF2;
}

a {
  text-decoration: none;
  color: #000;
}

.pointerItem {
  cursor: pointer;
}

#logo{
  position:absolute;
  top:20px;
  left:20px;
  height:50px;
  font-size:10px;
  z-index:50;
  cursor:pointer;
}

.card{
    overflow:hidden;
    border-radius:15px;
     box-shadow: 0 1px 4px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.1);
}

#maincontent{
  touch-action: auto;
}

/*
* Specific Styling below for things like letter-spacing are from the free version of slides
*
*  https://designmodo.com/slides/
*/

.h1, h1 {
  font-size: 42px;
  line-height: 1.285;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: -.036em;
}

.h2, h2 {
  font-size: 16px;
  line-height: 1.285;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: -.036em;
}

.p, blockquote, p {
  font-size: 22px;
  line-height: 1.6363636364;
  margin-bottom: 30px;
  font-weight: 300;
}

html {
  font-size: 6px;
  font-weight: 400;
  color: #000;
}

/*////////////////////////////////////////////////////////////////

  _____                 _____ _ _ _ _             
 |  __ \               |  __ (_) | (_)            
 | |__) |_ _  __ _  ___| |__) || | |_ _ __   __ _ 
 |  ___/ _` |/ _` |/ _ \  ___/ | | | | '_ \ / _` |
 | |  | (_| | (_| |  __/ |   | | | | | | | | (_| |
 |_|   \__,_|\__, |\___|_|   |_|_|_|_|_| |_|\__, |
              __/ |                          __/ |
             |___/                          |___/ 

///////////////////////////////////////////////////////////////////*/

/* Configure CSS for Pagepiling's initialization */

.pp-section {
  padding: 0px;
  background:#fff;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .pp-section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pp-section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.pp-section > div {
  width: 80%;
  margin:auto;
}

/* For Mobile: */

@media only screen and (max-width: 768px) {
  .pp-section > div {
    width: 90%;
  }
  
}

/*//////////////////////////////////////////////////////////////
   _____           _   _                  
  / ____|         | | (_)                 
 | (___   ___  ___| |_ _  ___  _ __  ___  
  \___ \ / _ \/ __| __| |/ _ \| '_ \/ __| 
  ____) |  __/ (__| |_| | (_) | | | \__ \ 
 |_____/ \___|\___|\__|_|\___/|_| |_|___/ 
                                                                                 

//////////////////////////////////////////////////////////////*/

/* Configure CSS for page sections */

.card:not(.tabDescription) {
  cursor: pointer;
}

.tabDescription {
  position:relative;
  margin: auto;
  text-align:left;
  padding-top:100px;
}

.tabDescription p{
  width:80%;
}

.tabContent {
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  margin-top: 10px;
}

hr {
  width: 100%;
  border: 2px solid #333;
  margin-bottom: 20px;
}

/* For Mobile: */

@media only screen and (max-width: 768px) {

  .tabDescription {
    padding-top:0px;
    text-align:center;
  }

  .tabDescription p{
    width:100%;
  }

  .tabContent {
    padding-bottom:70px;
  }

  hr{
    display: none;
  }

}

/*//////////////////////////////////////////////////////////////
  __  __                  
 |  \/  |                 
 | \  / | ___ _ __  _   _ 
 | |\/| |/ _ \ '_ \| | | |
 | |  | |  __/ | | | |_| |
 |_|  |_|\___|_| |_|\__,_|
                                                
//////////////////////////////////////////////////////////////*/

/* Configure CSS for The Navbar and Menu Items */

#navbar {
  position: absolute;
  bottom: 2%;
  right: 50%;
  transform: translateX(50%);
  width: 80%;
  z-index: 100;
  transition: 0.3s;
  opacity: 1;
  background:white;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 4px rgba(0,0,0,.1),1px 1px 4px 4px rgba(0,0,0,.1);
}

#myMenu {
  position:relative;
  margin: 0;
  text-align: center;
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap:0px;
}

#myMenu div a {
  display: block;
  color: #777;
  text-decoration: none;
  transition: 0.1s;
  font-weight: bold;
  padding: 15px 0px 1px 0px;
  font-size:10px;
}


#myMenu div a:hover {
  color: #fff;
  background:#DF0810;
}

#navbar div .active a{
color: #fff;
background:#DF0810;
}


#myMenu > div h6{
  margin-top:3px;
}

#myMenu div:nth-child(6){
  display:none;
}


/* For Desktop: */

@media only screen and (min-width: 768px) {

  #myMenu div:nth-child(6){
    display:block;
  }

  #navbar {
    position:fixed;
    background:#fff;
    width:100%;
    right:0%;
    bottom:inherit;
    top:0%;
    box-shadow:none;
    transform:none;
    border-radius:0%;
    padding:5px;
    border-bottom:#DF0810 solid 2px;
  }

  #myMenu {
    font-size: 120px;
    display:block;
  }

  #myMenu div{
    width:100px;
    float:left;
  }

  #myMenu div a{
    padding:10px 0px 10px 0px;
    border-radius: 10px !important;
  }

  #myMenu div h6 {
    display: block;
    font-size: 10px;
    margin: 0px;
  }

  #myMenu div i{
    display:none;
  }

  #myMenu div a:hover {
    color: #DF0810;
    background: none;
  }

  #navbar div .active {
    color:#DF0810;
    background: none;
  }

  #navbar div .active a{
    color: #DF0810;
    background:none;
    }

  #myMenu div:nth-child(3) i, #myMenu div:nth-child(4) i{
    display: block;
    float: right;
    margin: 0;
    font-size: 12px;
    transition:0.2s;
  }

  #myMenu div:nth-child(3) h6, #myMenu div:nth-child(4) h6{
    display:none;
  }

  #myMenu div:nth-child(3), #myMenu div:nth-child(4){
    float:right;
    width:30px;
    padding: 0px 20px 0px 10px;
  }

}

/*//////////////////////////////////////////////////////////////
  ______                       
 |  ____|                      
 | |__ ___  _ __ _ __ ___  ___ 
 |  __/ _ \| '__| '_ ` _ \/ __|
 | | | (_) | |  | | | | | \__ \
 |_|  \___/|_|  |_| |_| |_|___/
                               
                               
//////////////////////////////////////////////////////////////*/

/* Configure CSS for General Form Elements */

input, textarea {
  background: none;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border:1px solid #303436;
  margin: 5px;
  position: relative;
  transition: 0.3s;
  border-radius:15px;
  opacity:0.4;
}

textarea{
  width:80%;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
      opacity:1;
}

button {
  background: #DF0810;
  border: none;
  margin:5px;
  border-radius: 5px;
  color: white;
  padding: 12px 10px 12px 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size:15px;
  box-shadow:0px 1px 4px rgba(0,0,0,.1),0px 1px 4px rgba(0,0,0,.1);
}

button:hover {
  background: #000;
  color:white;
}

#searchBar {
  margin-left: 0px !important;
}


/* For Mobile */

@media only screen and (max-width: 768px) {

  #send{
    width:90%;
  }
}

/*//////////////////////////////////////////////////////////////

  _   _                   
 | \ | |                  
 |  \| | _____      _____ 
 | . ` |/ _ \ \ /\ / / __|
 | |\  |  __/\ V  V /\__ \
 |_| \_|\___| \_/\_/ |___/
                          
                          
//////////////////////////////////////////////////////////////*/

/* CSS for News Items in Search and 'My Feed' Sections */

#newsFeed{
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-auto-rows: 100px;
    margin-top: 10px;
    padding-bottom: 90px;

}#searchFeed{
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  grid-auto-rows: 100px;
  margin-top: 10px;
  padding-bottom: 90px;
}

.newsItem {
  position:relative;
  transition: 0.2s;
  display:grid;
  grid-template-columns:auto auto auto auto;
  grid-gap: 10px;
  height:100%;
  box-shadow:none;
  opacity:0.8;
}

.newsItem:hover{
  opacity:1;
}

.newsImageHolder{
  position:relative;
  height:100%;
  width:100px;
  overflow: hidden;
  text-align:center;
  grid-column-end: 1;
  
  border-radius:15px;
  box-shadow: 0 1px 4px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.1);
}

.newsItem img:not(.teamImage) {
  position:absolute;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 50%;
  transform:translateX(-50%);
}

.newsItem h6{
  position: absolute;
  left: 10px;
  bottom: 0px;
  color:#DF0810;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size:10px !important;
}

.articleWords{
  padding-left:10px;
  width:100%;
  position:relative;
  grid-column-start: 2;
  grid-column-end: 4;
}

.articleWords h4 {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size:200% !important;
  text-overflow: ellipsis;
}

.teamImage{
  position:absolute;
  right:5px;
  bottom:5px;
  height: 20px !important;
}

.articleWords p, .articleWords h4 {
  width:100%;
  font-size:15px;
  float:left;
}

.articleWords p {
  display: none;
}

.articleWords h4::after{
  content:"...";
}

#searchFeed .newsItem .newsImageHolder{
  background-image:url(https://cdn.glitch.com/34525fe5-c55a-46a2-ade0-7fd82e149df2%2Fwhite.png?v=1615177105156);
  background-repeat: no-repeat;
  background-size: cover;
}

/* For Desktop */

@media only screen and (min-width: 768px) {

/* Configure Css for Desktop Search Section */

#searchFeed{
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  grid-gap: 10px;
}

#searchFeed .newsItem{
  height:250px;
  display:block;
  border-radius:15px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
}

#searchFeed .newsItem .newsImageHolder, #searchFeed .newsItem .articleWords{
  float:left
}

#searchFeed .newsItem .newsImageHolder{
  width:250px;
}

#searchFeed .newsItem .articleWords {
  padding:10px;
  width:70%;
}

#searchFeed .newsItem .articleWords p{
  display:block;
  margin-left:10px;
}

#searchFeed .newsItem .articleWords h6{
 padding-left:20px;
 font-size:12px !important;
}

#searchFeed .newsItem .articleWords h4{
  font-size:20px;
  font-size:300% !important;
  margin-left:10px;
}


/* Configure Css for Desktop Feed Section */

  #feed > div{
    width:65%;
  }

  #newsFeed .newsItem{
    display:block;
    border-radius: 0px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
  }

  #newsFeed{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: minmax(170px, auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
  }


#newsFeed .teamImage{
  position:absolute;
  right:15px;
  bottom:15px;
  height: 50px !important;
}

#newsFeed .newsImageHolder { 
    height:100%;
    width:100%;
    border-radius:5px;
    background:#fff;
   }

  #newsFeed .newsImageHolder img{ 
    height:100%;
    border-radius:5px;
   }

   #newsFeed .newsItem .articleWords{
    padding: 10px 10px 0px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
   }

  #newsFeed .newsItem .articleWords h4{
  font-size:150% !important;
  }

  #newsFeed .newsItem .articleWords h6{
    left:0px;
    }

/* Configure Feature Headline for Feed Section */

  #newsFeed a:nth-child(1) { 
    grid-column-end: span 3;
    grid-row-end: span 2;
    
   }

   #newsFeed a:nth-child(1) .newsImageHolder{ 
    width:60%;
    float:left;
   }

   #newsFeed a:nth-child(1) .articleWords{ 
    width:35%;
    padding:20px;
    float:right;
    position:relative;    
   }

   #newsFeed a:nth-child(1) .articleWords h6{ 
    position:relative;
    color:#DF0810;
   }

   #newsFeed a:nth-child(1) .articleWords p{ 
    display:block;
   }

  #newsFeed a:nth-child(n+2) {
     grid-column-end: span 1;
    grid-row-end: span 2; 
    border-bottom:3px solid #DF0810;
  }

  #newsFeed a:nth-child(3n) {
    grid-column-end: span 2;
   grid-row-end: span 2; 
   border-bottom:3px solid #DF0810;
  }


 #newsFeed a:nth-child(n+2) h6,  #newsFeed a:nth-child(3n) h6{
  font-size:120%;
  position:relative;
}

    #newsFeed a:nth-child(n+2) .newsImageHolder,  #newsFeed a:nth-child(3n) .newsImageHolder{
      height:60%;
    }

    #newsFeed a:nth-child(n+2) .newsImageHolder img{
      height:100%;
    }

    #newsFeed a:nth-child(3n) .newsImageHolder img{
      width:100%;
      height:auto;
    }

    #newsFeed a:nth-child(n+2) .teamImage{
      position: absolute;
      left: 10px;
      bottom: 80px;
      height: 30px !important;
    }

    #newsFeed a:nth-child(3n) .teamImage{
      position: absolute;
      left: 30px;
      bottom: 40px;
      height: 70px !important;
    }

    #newsFeed a:nth-child(n+2) .articleWords{
      height:40%;
    }

    #newsFeed a:nth-child(3n) .articleWords{
      height:35%;
    }

    #newsFeed .newsItem .articleWords{
      height:50%;
      font-size:150%;
    }

  
}
/*//////////////////////////////////////////////////////////////

  _______                     _____ _      _             
 |__   __|                   |  __ (_)    | |            
    | | ___  __ _ _ __ ___   | |__) |  ___| | _____ _ __ 
    | |/ _ \/ _` | '_ ` _ \  |  ___/ |/ __| |/ / _ \ '__|
    | |  __/ (_| | | | | | | | |   | | (__|   <  __/ |   
    |_|\___|\__,_|_| |_| |_| |_|   |_|\___|_|\_\___|_|   
                                                                                                               

//////////////////////////////////////////////////////////////*/

/* Configure CSS for The Team Picker Section */

.selectGrid div, #resetTeams{
  cursor: pointer;
}

.selectGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  width:100%;
}

.selectGrid div {
  padding: 10px;
  transition: 0.1s;
  background:#fff;
  font-size:12px;
  color:black;
}

.selectGrid div:hover {
  background: #000;
  color: white;
}

.selectGrid div h4 {
  float: left;
  font-size: 120%;
  vertical-align: center;
  margin-right:10px;
  margin-left:10px;
}


.selectGrid div img {
  height: 50px;
  float: right;
  vertical-align: center;
}

.selectTabs{
  top:0;
}

.tablinks {
  background: white;
  margin: 0px 5px 5px 0px;
  font-variant: normal;
  color:black;
}

.tablinks:hover{
  background:#DF0810;
}

.activeTab{
  background:#DF0810;
  color:white;
}

#resetTeams {
  display: none;
  position: relative;
  padding: 10px;
  float: left;
  font-size: 15px;
  margin: 10px auto 0px 0px;
  transition: 0.2s;
  background: #fff;
  color:#000;
  border-radius: 10px;
}

#resetTeams:hover{
  background:#DF0810;
  color:white;
}

/* For Mobile */

@media only screen and (max-width: 768px) {
  .selectGrid {
    grid-template-columns: auto;
  }

  #resetTeams {
    width: 300px;
    margin: auto;
    position: absolute;
    margin-top:5px;
    left: 50%;
    transform: translateX(-50%);
  }


  .selectGrid div {
    width:300px;
    font-size: 9px;
    margin-top: 5px;
    position: relative;
    margin: auto;
  }

  .selectGrid div img {
    height: 50px;
    float: right;
  }

  #addTeams .selectGrid{
    padding-top: 40px;
  }
}

/*//////////////////////////////////////////////////////////////
  _                 _                  _____ _                         
 | |               (_)          _     / ____(_)                        
 | |     ___   __ _ _ _ __    _| |_  | (___  _  __ _ _ __  _   _ _ __  
 | |    / _ \ / _` | | '_ \  |_   _|  \___ \| |/ _` | '_ \| | | | '_ \ 
 | |___| (_) | (_| | | | | |   |_|    ____) | | (_| | | | | |_| | |_) |
 |______\___/ \__, |_|_| |_|         |_____/|_|\__, |_| |_|\__,_| .__/ 
               __/ |                            __/ |           | |    
              |___/                            |___/            |_|    

//////////////////////////////////////////////////////////////*/

/* Configure CSS for Login, Signup and Welcome Screens */

#login {
  position: absolute;
  z-index: 200;

  height: 100%;
  width: 100%;
  transition: 1.5s;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: white;
}

#login h2 {
  margin-left: 10px;
}



.loginForm {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  width: 300px;
  text-align: center;
}

.loginForm img, .loginForm a{
  position:relative;
  height:50px;
  width:auto;
  margin:auto;
}

.welcomeScreen{
  display:none;
  position:absolute;
  top:0%;
  width:100%;
  height:100%;
  z-index:101;
  background:white;
  grid-template-columns: auto auto;
  transition: 0.2s;
}

#welcomeScreenHolder .welcomeScreen:nth-child(1){
  z-index:102;
}

.welcomeScreen div{
  vertical-align: center;
  margin:auto;
  width:80%;
}

.welcomeScreen p{
  font-size:17px;
}


.welcomeScreen ol{
  font-size:17px;
}

/* For Mobile: */

@media only screen and (max-width: 768px) {

  #login {
    width: 100%;
    height: 100%;
  }

  .loginForm {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .welcomeScreen{
    font-size:15px;
    overflow-y:scroll;
    margin-bottom:70px;
    grid-template-columns: auto;
  }

  .welcomeScreen div{
    width:80%;
    margin-bottom:70px;
  }


  .welcomeScreen img{
    display:none;
  }
}

/*////////////////////////////////////////////////////////////////////////

  _                     _ _                _____                          
 | |                   | (_)              / ____|                         
 | |     ___   __ _  __| |_ _ __   __ _  | (___   ___ _ __ ___  ___ _ __  
 | |    / _ \ / _` |/ _` | | '_ \ / _` |  \___ \ / __| '__/ _ \/ _ \ '_ \ 
 | |___| (_) | (_| | (_| | | | | | (_| |  ____) | (__| | |  __/  __/ | | |
 |______\___/ \__,_|\__,_|_|_| |_|\__, | |_____/ \___|_|  \___|\___|_| |_|
                                   __/ |                                  
                                  |___/                                   

/////////////////////////////////////////////////////////////////////////*/

/* Configure CSS for Loading Screen */

#load {
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: disappear 5.8s forwards;
  animation: disappear 5.8s forwards;
  z-index: 300; 
  opacity: 1;
  -webkit-opacity: 1;
  display: block;
  text-align: center;
  box-shadow: 1px 1px 4px 4px rgba(0,0,0,.1),1px 1px 4px 4px rgba(0,0,0,.1);
}

/* Safari */
@-webkit-keyframes disappear {
  0% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  50% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  90% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: -199%;
    z-index: 300;
    display: block;
  }
  99.999% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: -200%;
    z-index: 300;
    display: none;
  }
  100% {
    -webkit-opacity: 0;
    height: 100%;
    bottom: -200%;
    z-index: -10;
    display: none;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  50% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  90% {
    opacity: 1;
    height: 100%;
    bottom: -199%;
    z-index: 300;
    display: block;
  }
  99.999% {
    opacity: 1;
    height: 100%;
    bottom: -200%;
    z-index: 300;
    display: block;
  }
  100% {
    opacity: 0;
    height: 100%;
    bottom: -200%;
    z-index: -10;
    display: none;
  }
}

/* 
* 
* Code For Loader Section 
*
* @Copyright w3schools.com 
*  
*/

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.lds-facebook {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #DF0810;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


/*///////////////////////////

__      __          
\ \    / /          
 \ \  / /   _  ___  
  \ \/ / | | |/ _ \ 
   \  /| |_| |  __/ 
    \/  \__,_|\___| 

////////////////////////////*/

/* Configure CSS for Vue JS Transitions*/

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.list-item {
  /* display: inline-block;
  margin-right: 10px; */
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}