/**
*
* @Title: Main CSS
*
* @Author: Ty, Declan, Jack, Mphatso 
*
* @Date: 2021-02-09
*
* @Brief: Final Main File where we will put the rest of the css
*
*/

/*//////////////////////////////////////////////////////////////

   _____ _ _          _____  _____ _____ 
  / ____(_) |        / ____|/ ____/ ____|
 | (___  _| |_ ___  | |    | (___| (___  
  \___ \| | __/ _ \ | |     \___ \\___ \ 
  ____) | | ||  __/ | |____ ____) |___) |
 |_____/|_|\__\___|  \_____|_____/_____/ 
                                         
                                         
//////////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Roboto,sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  background: #EDECF2;
}

a {
  text-decoration: none;
  color: #333;
}


.pointerItem {
  cursor: pointer;
}

#colorPalette {
  color: #000;
  color: #777;
  color: #fff;
  color: #EDECF2;
  color: #333;
  color: #DF0810;
  color: #DC4A47;
}

#logo{
  position:absolute;
  top:20px;
  left:20px;
  height:50px;
  font-size:10px;
  z-index:50;
  cursor:pointer;
}

.card{
    overflow:hidden;
    border-radius:15px;
     box-shadow: 0 1px 4px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.1);
}

#maincontent{
  touch-action: auto;
}

/*
* Specific Styling below for things like letter-spacing are from the free version of slides
*
*  https://designmodo.com/slides/
*/

.h1, h1 {
  font-size: 42px;
  line-height: 1.285;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: -.036em;
}

.h2, h2 {
  font-size: 16px;
  line-height: 1.285;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: -.036em;
}

.p, blockquote, p {
  font-size: 22px;
  line-height: 1.6363636364;
  margin-bottom: 30px;
  font-weight: 300;
}

html {
  font-size: 6px;
  font-weight: 400;
  color: #333;
}

/*////////////////////////////////////////////////////////////////

  _____                 _____ _ _ _ _             
 |  __ \               |  __ (_) | (_)            
 | |__) |_ _  __ _  ___| |__) || | |_ _ __   __ _ 
 |  ___/ _` |/ _` |/ _ \  ___/ | | | | '_ \ / _` |
 | |  | (_| | (_| |  __/ |   | | | | | | | | (_| |
 |_|   \__,_|\__, |\___|_|   |_|_|_|_|_| |_|\__, |
              __/ |                          __/ |
             |___/                          |___/ 

///////////////////////////////////////////////////////////////////*/

.pp-section {
  padding: 0px;
  display: grid;
  vertical-align: top; /* new */
  grid-template-columns: auto;
  grid-gap: 5px;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .pp-section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pp-section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.pp-section > div {
  width: 80%;
  margin:auto;
}

/* For Mobile: */

@media only screen and (max-width: 768px) {
  .pp-section > div {
    width: 90%;
  }
  
}

/*//////////////////////////////////////////////////////////////
   _____           _   _                  
  / ____|         | | (_)                 
 | (___   ___  ___| |_ _  ___  _ __  ___  
  \___ \ / _ \/ __| __| |/ _ \| '_ \/ __| 
  ____) |  __/ (__| |_| | (_) | | | \__ \ 
 |_____/ \___|\___|\__|_|\___/|_| |_|___/ 
                                                                                 

//////////////////////////////////////////////////////////////*/

.card:not(.tabDescription) {
  cursor: pointer;
}

.tabDescription {
  position:relative;
  margin: auto;
  text-align:center;
  padding-top:100px;
}

.tabContent {
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  margin-top: 0px;
}


/* For Mobile: */

@media only screen and (max-width: 768px) {

  .tabDescription {
    padding-top:0px;
  }

  .tabContent {
    padding-bottom:70px;
  }

}

/*//////////////////////////////////////////////////////////////
  __  __                  
 |  \/  |                 
 | \  / | ___ _ __  _   _ 
 | |\/| |/ _ \ '_ \| | | |
 | |  | |  __/ | | | |_| |
 |_|  |_|\___|_| |_|\__,_|
                                                
//////////////////////////////////////////////////////////////*/

#navbar {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 100;
  transition: 0.3s;
  opacity: 1;
  background:white;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 4px rgba(0,0,0,.1),1px 1px 4px 4px rgba(0,0,0,.1);
  overflow:hidden;
}

#navbar > div {
  position:relative;
  list-style-type: none;
  margin: 0;
  text-align: center;
  font-variant: small-caps;
  display:grid;
  grid-template-columns: auto auto auto auto;
}

#navbar li a {
  display: block;
  color: #777;
  text-decoration: none;
  transition: 0.1s;
  font-weight: bold;
  padding: 20px;
  /* border-bottom:#fff 2px solid; */
}

#navbar li a:hover {
  color: #fff;
  background:#DF0810;

}

#navbar div .active a{
color: #fff;
background:#DF0810;
}

#navbar > div {
  font-size: 150%;
}

#navbar > div li h6{
  display:none;
}

/* For Web: */

@media only screen and (min-width: 768px) {

  #navbar > div {
    font-size: 250%;
  }

  #navbar {
    position:absolute;
    bottom:90%;
    top:2%;
  }

  #navbar li a{
    padding:1px;
  }

  #navbar > div li h6{
    display:block;
  }

  #navbar > div li i{
    display:none;
  }

  #navbar li a:hover {
    color:black;
    /* background:none; */
    border-bottom:#DF0810 2px solid;
  }

  #navbar div .active {
    color:black;
    /* background:none; */
    border-bottom: #DF0810 2px solid;
  }


}

/*//////////////////////////////////////////////////////////////
  ______                       
 |  ____|                      
 | |__ ___  _ __ _ __ ___  ___ 
 |  __/ _ \| '__| '_ ` _ \/ __|
 | | | (_) | |  | | | | | \__ \
 |_|  \___/|_|  |_| |_| |_|___/
                               
                               
//////////////////////////////////////////////////////////////*/

input {
  background: none;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border:1px solid black;
  margin: 5px;
  position: relative;
  transition: 0.3s;
  border-radius:15px;
  /* background-color:#B9B7C6 !important; */
}


input:focus,
input:hover {
    background-color:#B9B7C6 !important;
}

button {
  background: #DF0810;
  border: none;
  margin:5px;
  border-radius: 5px;
  color: white;
  padding: 12px 10px 12px 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size:15px;
}

.whiteButton{
  background:#fff;
  color:black;
}

.whiteButton:hover{
  background:#000;
}

button:hover {
  background: #000;
  color:white;
}



#searchBar {
  margin-left: 0px !important;
}
/*//////////////////////////////////////////////////////////////

  _   _                   
 | \ | |                  
 |  \| | _____      _____ 
 | . ` |/ _ \ \ /\ / / __|
 | |\  |  __/\ V  V /\__ \
 |_| \_|\___| \_/\_/ |___/
                          
                          
//////////////////////////////////////////////////////////////*/

.newsItem {
  position:relative;
  height: 200px;
  transition: 0.05s;
  overflow: hidden;
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  margin:10px;
}

.newsItem:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

.newsImageHolder{
  position:relative;
  height:100%;
  width:200px;
  border-radius: 15px;
  overflow: hidden;
  text-align:center;
  box-shadow: 0 1px 4px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.1);
}

.newsItem img:not(.teamImage) {
  position:absolute;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 50%;
  transform:translateX(-50%);
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.1);
}

.teamImage{
  position:absolute;
  right:10px;
  bottom:10px;
  height: 50px !important;
}

.articleWords{
  width:100%;
  position:relative;
  grid-column-start: 2;
  grid-column-end: 4;
}


.articleWords p, .articleWords h4 {
  width:100%;
  font-size:10px;
  float:left;
}


/* For Mobile */

@media only screen and (max-width: 768px) {

  .newsItem{
    height:100px;
  }
  
  .newsImageHolder{
    height:100%;
    width:100px;
  }

  .articleWords p {
    display: none;
  }

  .articleWords h4 {
    /* position:absolute;
  left:100px; */
    grid-column-start: 1;
    grid-column-end: 3;
    font-size:200%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .teamImage{
    position:absolute;
    right:5px;
    bottom:5px;
    height: 20px !important;
  }
}
/*//////////////////////////////////////////////////////////////

  _______                     _____ _      _             
 |__   __|                   |  __ (_)    | |            
    | | ___  __ _ _ __ ___   | |__) |  ___| | _____ _ __ 
    | |/ _ \/ _` | '_ ` _ \  |  ___/ |/ __| |/ / _ \ '__|
    | |  __/ (_| | | | | | | | |   | | (__|   <  __/ |   
    |_|\___|\__,_|_| |_| |_| |_|   |_|\___|_|\_\___|_|   
                                                                                                               

//////////////////////////////////////////////////////////////*/

.selectGrid div, #resetTeams{
  cursor: pointer;
}

.selectGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.selectGrid div {
  padding: 10px;
  transition: 0.1s;
  background:white;
  /* vertical-align: center; */
  font-size:12px;
}

.selectGrid div:hover {
  background: #EDECF2;
  color: #DF0810;
}

.selectGrid div h4 {
  float: left;
  font-size: 120%;
  vertical-align: center;
  margin-right:10px;
  margin-left:10px;
}


.selectGrid div img {
  height: 50px;
  float: right;
  vertical-align: center;
}

.selectTabs{
  top:0;
}

.tablinks{
  background:white;
  color:black;
  margin:5px;
}


#resetTeams {
  display:none;
  position: relative;
  padding: 10px;
  background: white;
  float: left;
  border-radius:15px;
  font-size:15px;
  margin: 0px auto 15px 15px;
}

#resetTeams:hover{
  background:#DF0810;
  color:white;
}

/* For Mobile */

@media only screen and (max-width: 768px) {
  .selectGrid {
    grid-template-columns: auto;
  }

  #resetTeams {
    width:300px;
    margin:auto;
  }


  .selectGrid div {
    width:300px;
    font-size: 9px;
    margin-top: 5px;
  }

  .selectGrid div img {
    height: 50px;
    float: right;
  }
}

/*//////////////////////////////////////////////////////////////
  _                 _                  _____ _                         
 | |               (_)          _     / ____(_)                        
 | |     ___   __ _ _ _ __    _| |_  | (___  _  __ _ _ __  _   _ _ __  
 | |    / _ \ / _` | | '_ \  |_   _|  \___ \| |/ _` | '_ \| | | | '_ \ 
 | |___| (_) | (_| | | | | |   |_|    ____) | | (_| | | | | |_| | |_) |
 |______\___/ \__, |_|_| |_|         |_____/|_|\__, |_| |_|\__,_| .__/ 
               __/ |                            __/ |           | |    
              |___/                            |___/            |_|    

//////////////////////////////////////////////////////////////*/

#login {
  position: absolute;
  z-index: 200;
  height: 100%;
  width: 100%;
  transition: 1.5s;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: white;
}

#login h2 {
  margin-left: 10px;
}



.loginForm {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  width: 300px;
  text-align: center;
}

.loginForm img, .loginForm a{
  position:relative;
  height:50px;
  width:auto;
  margin:auto;
}

#welcomeScreen{
  display:none;
  position:absolute;
  top:0%;
  width:100%;
  height:100%;
  background:white;
  z-index:51;
  grid-template-columns: auto auto auto auto;
  transition: 0.5s;
}

#welcomeScreen div:first-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
}

#welcomeScreen div{
  vertical-align: center;
  margin:auto;
  width:80%;
}

#welcome div img{
  width:60%;
}

#welcome button{
  vertical-align:center;
}

/* For Mobile: */

@media only screen and (max-width: 768px) {
  .loginCover {
    display: none;
  }
  #login {
    width: 100%;
    height: 100%;
  }

  .loginForm {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  #welcomeScreen{
    grid-template-columns: auto;
    padding:50px 10px 10px 10px;
    font-size:15px;
    overflow-y:scroll;
  }

  #welcomeScreen div{
    width:80%;
  }
}

/*////////////////////////////////////////////////////////////////////////

  _                     _ _                _____                          
 | |                   | (_)              / ____|                         
 | |     ___   __ _  __| |_ _ __   __ _  | (___   ___ _ __ ___  ___ _ __  
 | |    / _ \ / _` |/ _` | | '_ \ / _` |  \___ \ / __| '__/ _ \/ _ \ '_ \ 
 | |___| (_) | (_| | (_| | | | | | (_| |  ____) | (__| | |  __/  __/ | | |
 |______\___/ \__,_|\__,_|_|_| |_|\__, | |_____/ \___|_|  \___|\___|_| |_|
                                   __/ |                                  
                                  |___/                                   

/////////////////////////////////////////////////////////////////////////*/

#load {
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: disappear 5.8s forwards;
  animation: disappear 5.8s forwards;
  z-index: 300; /* AHHHHHHHH Its not over 9000! */
  opacity: 1;
  -webkit-opacity: 1;
  display: block;
  text-align: center;
  box-shadow: 1px 1px 4px 4px rgba(0,0,0,.1),1px 1px 4px 4px rgba(0,0,0,.1);
}

/* Safari */
@-webkit-keyframes disappear {
  0% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  50% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  90% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: -199%;
    z-index: 300;
    display: block;
  }
  99.999% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: -200%;
    z-index: 300;
    display: none;
  }
  100% {
    -webkit-opacity: 0;
    height: 100%;
    bottom: -200%;
    z-index: -10;
    display: none;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  50% {
    -webkit-opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 300;
    display: block;
  }
  90% {
    opacity: 1;
    height: 100%;
    bottom: -199%;
    z-index: 300;
    display: block;
  }
  99.999% {
    opacity: 1;
    height: 100%;
    bottom: -200%;
    z-index: 300;
    display: block;
  }
  100% {
    opacity: 0;
    height: 100%;
    bottom: -200%;
    z-index: -10;
    display: none;
  }
}

/* Code From w3schools */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}


.lds-facebook {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #DF0810;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/*////////////////////////////////////////////////////////////////////////

  _____       _               _____                 
 |_   _|     | |             |  __ \                
   | |  _ __ | |_ _ __ ___   | |__) |_ _  __ _  ___ 
   | | | '_ \| __| '__/ _ \  |  ___/ _` |/ _` |/ _ \
  _| |_| | | | |_| | | (_) | | |  | (_| | (_| |  __/
 |_____|_| |_|\__|_|  \___/  |_|   \__,_|\__, |\___|
                                          __/ |     
                                         |___/      

/////////////////////////////////////////////////////////////////////////*/

#welcomeScreen div{
  vertical-align: center;
}

.introSection{
  text-align: center;
}


#first > div{
  display: grid;
  grid-template-columns: auto auto;
  transition: 0.5s;
  margin:auto;
  padding-top:50px;
}


#second > div, #third > div > div,#fourth > div > div{
  display: grid;
  grid-gap: 10px;
  transition: 0.5s;
  margin:auto;
}


#fourth > div > div{
  position:relative;
  top:50%;
  transform: translateY(-50%) ;
  margin:auto;
}



#second p, #third p{
  padding:0 10% 0 10%;
}

#fourth p{
  padding:0 20% 0 20%;
}

#fourth a{
  font-size:50px;
  margin:20px;
  padding:20px;
  border-radius:5px;
  border:0px solid white;
  transition:0.5s;
  color:#888;
}

#fourth a:hover{
  color:#DF0810;
}

#second h1, #third h1, #fourth h1{
  transform: translateY(50%);
}

.introFeatures{
  position:relative;
  display: grid;
  grid-gap: 40px;
  margin:auto;
  grid-template-columns: auto auto auto auto;
}

.introFeatures i {
  font-size: 80px;
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.introFeatures b{
  font-weight:500;
}

.introFeatures img{
  width:100%;
}

.featureDescription{
  position:relative;
  border-radius:0px 5px 5px 0px;
  bottom:0;
  width:100%;
  padding:10px 10px 10px 10px;
  background:none;
  text-align: left;
  margin-top: -5px;
  height: 100%;
}


.featureDescription p{
  font-size: 15px;
  /* color:#777; */
}

.featureDescription p b{
  font-size: 15px;
  font-variant: small-caps;
}

.introLogos{
  padding:0% 10% 0% 10%;
}

.introLogos div {
  padding:5px;
  height:100px;
  width:100px;
  border-radius:15px;
  box-shadow: 0 1px 4px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.1);
}

.introLogos img {
  height: 100px;
  width: auto;

}

.item1 { grid-area: center; }
.item2 { grid-area: feature; }

.introWords{
  text-align:left;
  padding:10%;
}

#introArrow{
  font-size:20px;
  position:fixed;
  padding:30px;
  bottom:5%;
  right: 50%;
  transform:translateX(50%) rotate(90deg);
  cursor:pointer;
  animation: bounce 2.2s ease infinite;
  color:white !important;
}


@keyframes bounce {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 1%;
  }
  100% {
    bottom:5%;
  }
}

/* For Mobile */

@media only screen and (max-width: 768px) {

  .featureDescription{
    text-align:center;
  }

  #first > div{
    grid-template-columns: auto;
  }
  .appImage{
    display:none;
  }
  #introArrow{
    display:none;
  }
  .introFeatures{
    grid-template-columns: auto;
  }

  .introLogos{
    grid-template-columns: auto auto;
  }

  .introLogos div:nth-child(n+5){
    display:none;
  }

  .introFeatures i {
    width:80%;
  }
}


/*///////////////////////////

__      __          
\ \    / /          
 \ \  / /   _  ___  
  \ \/ / | | |/ _ \ 
   \  /| |_| |  __/ 
    \/  \__,_|\___| 

////////////////////////////*/

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.list-item {
  /* display: inline-block;
  margin-right: 10px; */
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}