/**
*
* @Title: Search CSS
*
* @Author: Ty, Declan, Jack, Mphatso 
*
* @Date: 2021-02-09
*
*
* @Brief: Any Css to Do with Search Tab During Development 
*
*/

#search{
    position:relative;
    margin:auto;
    width:80%;
    background:#fff;
    padding:20px;
}

input{
    border-radius:30px;
    border:1px solid gray;
}

#searchBar {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 60%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 20px 20px 20px 70px;
    position:relative;
    border-radius:10px;
  }
  
