/**
*
* @Title: Main CSS
*
* @Author: Ty, Declan, Jack, Mphatso 
*
* @Date: 2021-02-09
*
*
* @Brief: Final Main File where we will put the rest of the css
*
*/

body {
  font-family: helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #003153;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #4180b4;
  background-image: radial-gradient(#003153 1px, #4180b4 1px);
  background-size: 20px 20px;
  transistion: 0.5s;
}

a {
  text-decoration: none;
  color: #003153;
}

#maincontent {
  display: none;
}

/*//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
# General Site Styling
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////*/

#colorPalette {
  color: #00296B;
  color: #003F88;
  color: #00509D;
  color: #FDC500;
  color: #f9c74f;
  color: #333;
}

/*//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
# General Card Styling
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////*/

.card {
  border-radius: 0px;
  transition: 0.1s;
  width: 40%;
}

.card:not(.tabDescription) {
  cursor: pointer;
}

.cardholder {
  position: relative;
  margin: auto;
  margin-top:5px;
  width: 80%;
  height: 350px;
  transition: 0.1s;
}

/*//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
# Other Repeating Large Element Styling
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////*/

.tabcontent {
  position: relative;
  display: none;
  width: 100%;
}

.button {
  background-color: #f9c74f;
  border: none;
  color: black;
  padding: 12px 10px 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  margin: 4px 2px;
  margin-left:5px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
  
}

.tabDescription {
  position: relative;
  margin: auto;
  width: 900px;
  background: #f9c74f;
  padding: 20px 50px 20px 50px;
  border-left: 20px solid black;

}

#title {
  padding: 10px;
  padding-left: 100px;
}

.back {
  position: absolute;
  left: 0px;
  top: -45px;
  padding: 10px;
  font-variant: small-caps;
  background: #f9c74f;
  text-align: center;
  width: 100px;
}

/*//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
# Navigation Styling
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////*/

#navbar {
  top: 0;
  left: 0;
  right: 0;
}
#navbar ul {
  height: 100px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #4180b4;
  border-radius: 0px 0px 0px 0px;
  background-image: radial-gradient(#003153 1px, #4180b4 1px);
  background-size: 20px 20px;
}

#navbar li {
  float: right;
}

#navbar li {
  display: block;
  color: #00296B;
  text-align: center;
  padding: 25px;
  margin: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: 0.1s;
  border-bottom: 5px solid #00509d;
}

#navbar a {
  color: #fff;
}

#navbar li:hover {
  border-bottom: 5px solid #fff;
}

.active {
  border-bottom: 5px solid #fff !important;
}

/*//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
# General Search Tab Styling
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////*/

input {
  background: none;
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 2px solid black;
  margin: 5px;
  position: relative;
  border-radius: 0px;
  transition: 0.1s;
}

input:focus,
input:hover {
  border: none;
  border: 2px solid #eee;
}

.news {
  position: relative;
  margin: auto;
  width: 80%;
  list-style-type: none;
  margin-top: 5px;
}

.newsItem {
  position: relative;
  margin: auto;
  padding-bottom: 0px;
  width: 1000px;
  height: 250px;
  background: #fff;
  margin-bottom: 5px;
  border-right: 20px solid black;
  overflow-y: hidden;
  transform: translateX(-20px);
  background-image: radial-gradient(#4180b4 1px, #fff 1px);
  background-size: 40px 40px;
}

.newsItem:hover {
  background: #003153;
  color: white;
  border-right: 30px solid #003153;
}

.newsItem img {
  /*   border-radius:3px; */
  width: 210px;
  margin: 0px;
  padding: 0px;
  -webkit-filter: grayscale(100%) contrast(100%);
  filter: grayscale(100%) contrast(100%);
}

.newsItem:hover img{
  -webkit-filter: none;
  filter: none;
}

.articleWords {
  position: absolute;
  padding: 20px 50px 10px 50px;
  top: 20px;
  left: 200px;
}

.search {
  border: 2px solid black;
}


/*//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
# Feed Tab Styling
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////*/

#newsFeed .newsItem img {
  width: 150px;
  padding: 50px;
}

#newsFeed .newsItem:hover {
  background: #003153;
  color: white;
  border-left: 30px solid #003153;
}

/*//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
# Select Team Tab Styling
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////*/

#selectDescription,
#conferences,
#leagues {
  left: 0;
  z-index: 10;
}


/*
* League Icons Css ///////////////////////////////////////////////
*/

#leagues{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5px;
}

.league {
  position: relative;
  height: 100%;
  background: white;
  width: 100%;
  float: left;
  border-bottom: 20px solid black;
}

.league:nth-child(4) {
 width:101%;
}

.league:hover {
  background: #003153;
  color: white;
  border-top: 20px solid #003153;
  border-bottom: 20px solid #003153;
  
}



.leagueIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 200px;
  left: 50%;
}

/*
* Conference Css ///////////////////////////////////////////////
*/


#conferences {
  display: none;
  position: absolute;
  top: 40%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  background-color: #4180b4;
  background-image: radial-gradient(#003153 1px, #4180b4 1px);
  background-size: 20px 20px;
  z-index: 5;
}

.conference {
  position: relative;
  height: 100%;
  background: none;
  width: 46%;
  margin-right:15px;
  float: left;
}

.region {
  position: relative;
  background: #fff;
  width: 100%;
  margin-bottom:5px;
  padding:20px 0px 20px 0px;
  font-variant: small-caps;
  text-align: center;
  border-bottom: 20px #000 solid;
    
  background-image: radial-gradient(#4180b4 1px, #fff 1px);
  background-size: 40px 40px;
}

.region:hover {
  border-left: 10px solid black;
  background: black;
  color: white;
}

/*
* Teams Css ///////////////////////////////////////////////
*/

#teams {
  position: absolute;
  top: 40%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  display: none;
  z-index: 1;
}

.team {
  position: relative;
  background: white;
  margin: auto;
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  padding: 25px 0px 25px 0px;
  font-variant: small-caps;
  border-bottom: 20px solid black;
}

.team:hover {
  background: #003153;
  color: white;
  border-top: 10px solid #003153;
  border-bottom:20px solid #003153;
}

.team img {
  width: 90px;
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
}

.team div {
  position: absolute;
  padding: 10px 50px 20px 50px;
  left: 270px;
}

#selectNewTeams {
  width: 80%;
  height: 140%;
  padding: 0px;
  float: left;
}

#selectOldTeams {
  width: 15%;
  height: 100%;
  float: left;
  background:white;
  margin-left: 5px;
  text-align: center;
  font-variant: small-caps;
}

#selectOldTeams img {
  width: 100px;
}

#selectOldTeams div {
  background: white;
  width: 100%;
  text-align: center;
  margin-bottom:5px;
  padding: 20px 0px 20px 0px;
}

#selectOldTeams div:nth-child(1) {
  border-bottom: 5px #000 solid;
  background: #f9c74f;
}

/*//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
# Logout Tab / Login Styling
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////*/

#login {
  position: absolute;
  z-index: 1000;
  bottom: 0%;
  height: 100%;
  width: 100%;
  background: #fff;
  background-image: radial-gradient(#4180b4 1px, #fff 1px);
  background-size: 40px 40px;
  padding: 5px;
  transition: 0.7s;
}

#login h2 {
  margin-left: 10px;
}

#login img {
  position: absolute;
  left: -200px;
  top: 0;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
  opacity: 1;
}

#loginForm {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  right: 5%;
  background:#f9c74f;
  border-left:20px solid black;
  padding:30px;
}

#submitLogin {
  margin-left:5px;
  width: 75%;
  background: #000;
  color: white;
  font-size: 16px;
  border-radius: 0px;
}

#submitLogin:hover {
  color: black;
  background: #fff;
}